.square {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 19.5px;
    height: 19.5px;
}

.mini_square {
    background-color: #000;
    width: 4px;
    height: 4px;
    margin: 0.5px;
}