html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: end;
}

.square {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 19.5px;
    height: 19.5px;
}

.mini_square {
    background-color: #5f6368;
    width: 4px;
    height: 4px;
    margin: 0.5px;
}

.margen {
    margin: 10px;
    display: flex;
    align-items: center;
}

.name_opition {
    text-decoration: none;
    color: #5f6368;
    font-size: 15px;
}
.name_opition:hover {
    border-bottom: 2px solid #5f6368;
}

#option_gmail {
    margin-right: 15px;
}

#squares_small {
    margin-top: 17px;
    padding: 10px;
    height: 20px;
    margin-right: 0px;
}
#squares_small:hover {
    background-color: #dbe0e6;
    border-radius: 20px;
}

.photo_profile img {
    width: 43px;
}
.photo_profile {
    margin-top: 5px;
    margin-right: 15px;
}

#geral {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo_google img {
    width: 400px;
}
.photo_google {
    margin-top: 80px;
    margin-bottom: 15px;
}

.search_tab input {
    width: 550px;
    border: 1px solid #c7c8ca;
    border-radius: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
    outline: 0;
    color: #1d1c1c;
}
.search_tab input:hover {
    box-shadow: 0px 0px 1.5px;
}

.interaction_bars {
    display: flex;
    margin-top: 35px;
}

.interaction_bars a {
    text-decoration: none;
    color: #1d1c1c;
    font-size: 14px;
}

.bar_styling {
    padding: 8px 15px;
    background-color: #e8e9ea;
    border-radius: 2px;
}
.bar_styling:hover {
    border: 1px solid #c7c8ca;
}

.bar_search {
    margin-right: 15px;
}

footer {
    background-color: #e8e9ea;
    color: #70757a;
}

.footer_country {
    padding: 18px;
    padding-bottom: 12px;
    padding-left: 28px;
}

.footer_options {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #c7c8ca;
}

.footer_actions {
    padding: 18px;
    padding-top: 12px;
}

.footer_actions a {
    text-decoration: none;
    color: #70757a;
    margin: 10px;
}
.footer_actions a:hover {
    border-bottom: 1px solid #70757a;
}



.container {
    display: flex;
    flex-direction: column;   
}
.container section {
    flex: 1 1 0;
}